body {
    background-image: url(../images/QuestionMark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.containerMain {
    border: 5px solid white;
    float:right;
    width: 50%;
    height: 700px;
    padding: 30px;
}

.TimeClock {
    text-align: center;
    border: 5px solid white;
    color: white;
    font-size: 40px;

}

h1 {
    text-align: center;
    color: white;
    font-size: 60px
}

h3 {
    text-align: left;
    color: white;
}